<table>
    <thead>
        <th *ngFor="let gridEntry of gridHeaderConfig">
            {{gridEntry.title}}
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of displayedData">
            <td *ngFor="let gridEntry of gridHeaderConfig">
                {{item[gridEntry['property']]}}
            </td>
        </tr>
    </tbody>
</table>

<!-- Dev Note: Potentially, this can be located in a standalone component -->
<form [formGroup]="paginationForm" class="pagination-control">
    <select
        class="pagination-form-select pagination-item"
        formControlName="pageSize"
        aria-label="Page size"
    >
        <option *ngFor="let option of pageSizeOptions" [value]="option">
            {{option}}
        </option>
    </select>
    <div class="pagination-form-current-page vertical-flex-container">
        Page {{currentPage}} of {{totalPageCount}}
    </div>

    <button
        [disabled]="currentPage === 1"
        (click)="handlePageChange(currentPage - 1)"
        class="vertical-flex-container pagination-item"
        data-test-id="pagination-left"
    >
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button
        [disabled]="currentPage === totalPageCount"
        (click)="handlePageChange(currentPage + 1)"
        class="vertical-flex-container pagination-item"
        data-test-id="pagination-right"
    >
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</form>