<table>
    <thead>
        <th *ngFor="let gridEntry of gridHeaders" (click)="handleSort(gridEntry.property)" data-test-id="grid-property-header">
            <div [ngClass]="{
                    'sort-asc': sortConfig?.direction === sortConfigDirection.ASC && sortConfig?.column === gridEntry.property ,
                    'sort-desc': sortConfig?.direction === sortConfigDirection.DESC && sortConfig?.column === gridEntry.property
                }">{{gridEntry.title}}</div>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of displayedData, index as i" [ngClass]="{'row-count-even': i % 2 !== 0}" data-test-id="grid-row">
            <td *ngFor="let gridEntry of gridHeaders" data-test-id="grid-row-cell">{{item[gridEntry['property']]}}</td>
        </tr>
    </tbody>
</table>

<!-- Dev Note: Potentially, this can be located in a standalone component -->
<form [formGroup]="paginationForm" class="pagination-control">
    <select
        class="pagination-form-select pagination-item"
        formControlName="pageSize"
        aria-label="Page size"
        data-test-id="pagination-page-size-control"
    >
        <option *ngFor="let option of pageSizeOptions" [value]="option">
            {{option}}
        </option>
    </select>
    <div class="pagination-form-current-page vertical-flex-container">
        Page {{currentPage}} of {{totalPageCount}}
    </div>

    <button
        [disabled]="currentPage === 1"
        (click)="handlePageChange(currentPage - 1)"
        class="vertical-flex-container pagination-item"
        data-test-id="pagination-left-control"
    >
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button
        [disabled]="currentPage === totalPageCount"
        (click)="handlePageChange(currentPage + 1)"
        class="vertical-flex-container pagination-item"
        data-test-id="pagination-right-control"
    >
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</form>